/* --------------------------------------- */
/* =============== FOOTER ================= */
/* --------------------------------------- */

.footer {
  background: #1a1a1a;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* FOOTER GRID */
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 10px;
}

/* MAIN DESCRIPTION */
.footer-section h3 {
  font-size: 28px;
  margin-bottom: 12px;
  color: #bea163;
}

.footer-section p {
  color: #dddddd;
  line-height: 1.6;
  font-size: 15px;
}

/* LINKS BLOCK */
.footer-links h4 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #cccccc;
  transition: 0.3s;
  font-size: 15px;
}

.footer-links ul li a:hover {
  color: #bea163;
  padding-left: 5px;
}

/* SOCIAL ICONS */
.footer-social h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 22px;
}

.social-icons svg {
  cursor: pointer;
  transition: 0.3s;
  color: #cccccc;
}

.social-icons svg:hover {
  color:#bea163;
  transform: translateY(-3px);
}

/* BOTTOM BAR */
.footer-bottom {
  text-align: center;
  padding: 18px 0;
  margin-top: 40px;

  color: #bbbbbb;
  font-size: 14px;
  border-top: 1px solid #333;
}

/* ====================================================================== */
/* ===================== TABLET VIEW (<= 1024px) ======================== */
/* ====================================================================== */

@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .footer-section h3 {
    font-size: 24px;
  }

  .social-icons {
    font-size: 20px;
  }
}

/* ====================================================================== */
/* ===================== MOBILE VIEW (<= 768px) ========================= */
/* ====================================================================== */

@media (max-width: 768px) {
  .footer-container {
    /* grid-template-columns: 1fr; */
    text-align: center;
  }

  .footer-links ul li a:hover {
    padding-left: 0;
  }

  .social-icons {
    justify-content: center;
  }
}

/* ====================================================================== */
/* ===================== SMALL MOBILE (<= 480px) ======================== */
/* ====================================================================== */

@media (max-width: 480px) {
  .footer {
    padding: 40px 15px 0;
  }

  .footer-section h3 {
    font-size: 22px;
  }

  .footer-links h4,
  .footer-social h4 {
    font-size: 18px;
  }
}
