:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Poppins", sans-serif;
   /* background: linear-gradient(270deg, #ffdee9 5%, #b5fffc 150%); */
}

/* index.css */
@media (max-width: 768px) {
  body {
    padding-bottom: 70px;
  }
}
